@model IEnumerable<KT0720_61133181.Models.SINHVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "TenSV", rowsPerPage: 2);
    @Scripts.Render("~/Scripts/jquery-1.6.2.min.js")
}

<div id="gridContent">
    @ViewBag.TB
    @grid.GetHtml(
        tableStyle: "table table-bordered table-hover",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
          columns: new[]  // colums in grid
         {
     grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
    grid.Column("MaSV","Mã sinh viên"), //the model fields to display
    grid.Column("HoSV","Họ sinh viên"  ),
    grid.Column("TenSV","Tên sinh viên"),
    grid.Column("GioiTinh","Giới tính",format: (@item) => @item.GioiTinh==true?"Nam":"Nữ"),
    grid.Column("NgaySinh","Ngày sinh",format:@<text> @item.NgaySinh.ToString("dd/MM/yyyy")</text>),
grid.Column("DiaChi","Địa chỉ"),
grid.Column("LOP.MaLop","Mã lớp"),
grid.Column(format: (item) => Html.ActionLink("Xem chi tiết", "Details","SINHVIEN0720_61133181", new { id = item.MaSV },"SINHVIEN0720_61133181Controller")),

}
)
</div>
